{{!< default}}

<main class="main_content_m" role="main">
  {{> header}}

	{{#post}}
		<article class="post_m">
      <div class="post_title_m">
        <h1>{{title}}</h1>
      </div>
      <div class="post_wrapper_m post_wrapper_main_m">
        {{content}}
      </div>

      <div class="post_wrapper_m">
        <div class="author_share_m">
          {{#if author}}
            <div class="author_m">
              {{#if author.image}}
                <img class="author_pic_m" src="{{author.image}}">
              {{/if}}
              <h2 class="author_name_m">{{author.name}}</h2>
              <p class="author_excerpt_m">{{author.bio}}</p>
            </div>
          {{/if}}
          <div class="share_m">
            <h2>Share this post</h2>
            <a target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="share_button_m icon-twitter"></span></a>
            <a target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="share_button_m icon-facebook"></span></a>
            <a target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="share_button_m icon-googleplus"></span></a>
          </div>
        </div>
      </div>

      <div class="comments_m">
        <div class="post_wrapper_m">
          <div id="disqus_thread"></div>
          <div class="comment_button_m">
            <div id="disqus_loader">
              <a onclick='$.ajaxSetup({cache:true});$.getScript("http://mackenziechild.disqus.com/embed.js");$.ajaxSetup({cache:false});$("#disqus_loader").remove();'><p>Load Comments</p></a>
            </div>
          </div>
        </div>
      </div>

     {{!--  <div class="post_bottom_navigation_m">
        <div class="post_wrapper_m">
          <p class="read_next_m">Read Next</p>
          <a href="#" class="next_post_title_m">A goal without action is just a wish</a>
          <p class="next_post_subtitle_m">Aesthetic pop-up butcher 8-bit ethical, bicycle rights yr Terry Richardson.</p>
        </div>
      </div> --}}

    </article>
  {{/post}}
</main>

{{!-- {{> footer}} --}}