{{!< default}}
<progress value="0" id="progressBar" class="progress_bar">
  <div class="progress-container">
    <span class="progress-bar"></span>
  </div>
</progress>

<main class="main_content_m" role="main">
  {{> header}}

	{{#post}}
		<article class="post_m animated fadeInLeft">
      <div class="post_wrapper_m post_wrapper_main_m">
        <div class="post_title_m">
          <h1>{{title}}</h1>
          <p class="subtitle">
            {{date published_at format="MMMM DD, YYYY"}}
            in
            {{#foreach tags}}
              <span><a href="{{url}}">{{name}}</a></span>
            {{/foreach}}
          </p>
        </div>
        {{content}}

        <div id="disqus_thread"></div>
        <div class="comment_button_m">
          <div id="disqus_loader">
            <a class="button" onclick='$.ajaxSetup({cache:true});$.getScript("http://mackenziechild.disqus.com/embed.js");$.ajaxSetup({cache:false});$("#disqus_loader").remove();'>Load Comments</a>
          </div>
        </div>
      </div>

    </article>
  {{/post}}
</main>